<html><head><title>The Popular Events</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.6/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script>
var googleapikey = '{{ googleapikey }}';
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% verbatim %}
<script>
$(function() {
  setTimeout(function(){console.log($("#top-jumbotron").height());$("#bottom-jumbotron").css({'padding-top':((64 + $("#top-jumbotron").height())+'px')});},500);
function pad(n, width, z) {
z = z || '0';
n = n + '';
return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n;
}
Vue.component('calendar', {
props: ['searchSettings', 'month', 'yearAndMonth', 'dayOfWeek', 'lastDayOfMonthDayOfWeek', 'dayOfMonth', 'endOfMonth', 'eventsByDay'],
computed: {
  numberOfRows: function() {
    return Math.ceil((this.endOfMonth - this.dayOfMonth + this.dayOfWeek + 1) / 7);
  }
},
methods: {
range: function(start, end, step=1) {
return _.range(start, end, step);
},
getDate: function(dayOfMonth) {
// append 0 to dayOfMonth
return this.yearAndMonth.format('YYYY-')+this.yearAndMonth.format('MM-')+pad(dayOfMonth, 2);
}
},
template: `<div><h2>{{ month }}</h2>
<table class="calendar">
<tr><th>Sunday</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th>
<th>Thursday</th><th>Friday</th><th>Saturday</th></tr>
<tr v-for="vertical_i in range(numberOfRows)">
<template v-if="vertical_i == 0">
<td v-for="i in range(dayOfWeek)"></td>
<calendar-cell v-for="i in range(7-dayOfWeek)" v-bind:search-settings="searchSettings" v-bind:year-and-month="yearAndMonth" v-bind:day-of-month="dayOfMonth + i" v-bind:eventsByDay="eventsByDay" key="vertical_i + ',' + i"></calendar-cell>
</template>
<template v-else-if="vertical_i == (numberOfRows - 1)">
<calendar-cell v-for="i in range(lastDayOfMonthDayOfWeek+1)" v-bind:search-settings="searchSettings" v-bind:year-and-month="yearAndMonth" v-bind:day-of-month="i + (endOfMonth - lastDayOfMonthDayOfWeek)" v-bind:eventsByDay="eventsByDay" key="vertical_i + ',' + i"></calendar-cell>
<td v-for="i in range(0, 7-lastDayOfMonthDayOfWeek-1)"></td>
</template>
<template v-else>
<calendar-cell v-for="i in range(7)" v-bind:search-settings="searchSettings" v-bind:year-and-month="yearAndMonth"  v-bind:day-of-month="(vertical_i) * 7 + i + (dayOfMonth - dayOfWeek)" v-bind:eventsByDay="eventsByDay" key="vertical_i + ',' + i"></calendar-cell>

</template>
</tr>
</table></div>`
})
settingsMixin = {methods: {
  hasFood: function(description) {
    items = ['food', 'happy hour', 'snacks', 'appetizer', 'pizza', 'lunch', 'breakfast', 'dinner']
    returnTrue = false;
    $.each(items, function(i, item) {
      try {
      if (description.toLowerCase().indexOf(item) > -1) {
        returnTrue = true;
      }} catch(err) {}
    })
    return returnTrue;
  },
  displayTime: function(time) {
    return moment(time).format('h:MM A')
  }
}}
Vue.component('event-info', {
  mixins: [settingsMixin],
  props: ['event'],
  template: '<span>{{ event.yes_rsvp_count }} attending "<a target="_blank" v-bind:href="event.event_url">{{ event.group.name }}: {{ event.name }}</a>" at {{ displayTime(event.time) }}<template v-if="event.venue"> in {{ event.venue.city }}</template> ({{ hasFood(event.description) ? "food" : "no food" }})</span>'
})
Vue.component('calendar-cell', {
// The todo-item component now accepts a
// "prop", which is like a custom attribute.
// This prop is called todo.
mixins: [settingsMixin],
props: ['searchSettings', 'dayOfMonth', 'eventsByDay', 'yearAndMonth'],
methods: {
range: function(start, end, step=1) {
return _.range(start, end, step);
},
getDate: function(dayOfMonth) {
// append 0 to dayOfMonth
return this.yearAndMonth.format('YYYY-')+this.yearAndMonth.format('MM-')+pad(dayOfMonth, 2);
},
shouldShow: function(event) {
  if (this.searchSettings.mustHaveFood) {
    if (this.hasFood(event.description)) {
      return true
    } else {
      return false
    }
  } else {
    return true
  }
}
},
template: '<td><strong>{{ dayOfMonth }}</strong><br/><br/> <ul><li v-for="event in eventsByDay[getDate(dayOfMonth)]" v-if="shouldShow(event)"><event-info v-bind:event="event"></event-info></li></ul></td>'
})
var app = new Vue({
el: '#app',
data: {
  searchSettings: {mustHaveFood: false},
currentMonth: moment().format('MMMM'),
yearAndMonth: moment(),
nextYearAndMonth: moment().add(1, 'months'),
nextMonth: moment().add(1, 'months').format('MMMM'),
dayOfWeek: moment().day(),
nextMonthDayOfWeek: moment().add(1, 'months').startOf('month').day(),
lastDayOfMonthDayOfWeek: moment().endOf('month').day(),
nextMonthLastDayOfMonthDayOfWeek: moment().add(1, 'months').endOf('month').day(),
dayOfMonth: moment().date(),
endOfMonth: moment().endOf('month').date(),
nextMonthEndOfMonth: moment().add(1, 'months').startOf('month').endOf('month').date(),
eventsByDay: {},
topTenEventsRegardlessOfFood: [],
topTenEventsWithFood: [],
usersPosition: {},
usersCity: '',
radius: 20,
isMobile: $(window).width() < 600,
},
computed: {
  topTenEvents: function() {
    if (this.searchSettings.mustHaveFood) {
      return this.topTenEventsWithFood
    }
    return this.topTenEventsRegardlessOfFood
  }
},
created: function() {
  navigator.geolocation.getCurrentPosition(this.setUsersPosition)

},
mixins: [settingsMixin],
watch: {
  eventsByDay: function(data) {
    setTimeout(function() {$('[data-toggle="popover"]').popover({container: 'body'})},2000)
  }
},
methods: {
  setUsersPosition: function(position) {
    this.usersPosition = {'lat': position.coords.latitude, 'lng': position.coords.longitude}
    $.get('https://maps.googleapis.com/maps/api/geocode/json?latlng='+this.usersPosition.lat+','+this.usersPosition.lng+'&key='+googleapikey, function(data) {
      app.usersCity = data['results'][0]['formatted_address'];
      app.search();
    })
  },
  prettyTime: function(time) {
    return moment(time).format('M/D/YY h:MM A')
  },

  search: function() {
    app.eventsByDay = {};
    app.topTenEventsRegardlessOfFood = [];
    app.topTenEventsWithFood = [];
    $.get('https://maps.googleapis.com/maps/api/geocode/json?address='+app.usersCity, function(data) {

      app.usersPosition = data.results[0].geometry.location;
      $.get('/get_events/?radius='+$('#radius option:selected').text()+'&lat='+app.usersPosition.lat+'&lng='+app.usersPosition.lng+'&search_terms='+$('#search_terms').val(), function(data) {
      app.eventsByDay = data.most_popular_events_per_day;
      app.topTenEventsRegardlessOfFood = data.top_ten_events;
      app.topTenEventsWithFood = data.top_ten_events_with_food;
      })
    })

  }
}
})
})

</script>
<style>
body {
  font:1.25em sans-serif;
  margin:0 10px 10px 10px;
  text-align:center;
}
th, strong {font-weight:bold}
h1 {font-size:2em;font-weight:bold;}
h2 {font-size:1.5em;font-weight:bold;}
.popover{
        max-width:100% !important;
    }
h3 {font-size:1.25em;font-weight:bold;}
h1, h2 {margin:10px 0;}
th, td {
vertical-align:top;
border:1px solid #000;
padding:5px;
}
table {
border-collapse:collapse;
width:100%;
}
p {
  margin-bottom:10px;
}
#users-address {
  width:400px;
}
ul {
  list-style:square;
  margin-left:20px;
}
#topten table {text-align:left;max-width:1000px;margin:0 auto;}
#top-jumbotron {
  z-index:1;
  position:absolute;
  top:0;left:0;right:0;
  opacity:0.7;
}
#bottom-jumbotron {
  background:url('/static/h1background.jpg') center bottom;
}
.jumbotron {
  font-size:1.25em;
  background: #000;
  color: #FFF;
  margin:0 -10px;
}
.jumbotron input, .jumbotron button, .jumbotron select {
  border:1px solid #FFF;color:#FFF;background-color:transparent;padding:10px;
}
.jumbotron a:link, .jumbotron a:visited {
  color:#FFF;
  text-decoration:underline;

}
.jumbotron a:hover {
  text-decoration:none;
}
.calendar td, .calendar th {
  width:14%;
  display:inline-block;
}
.calendar td {
  height:250px;
  overflow-y:auto;
}
</style>
</head>
<body>
<div id="app">
<div class="jumbotron" id="bottom-jumbotron"></div>
<div class="jumbotron text-center" id="top-jumbotron">
<h1>Popular Events</h1>
  <p>This site lists events from <a href="https://meetup.com">Meetup.com</a> by number of registered guests. See the <a href="https://github.com/pythonwebcoder/thepopularevents" target="_blank">site's source code</a>.</p>
    <p>Your address or city/state: <input id="users-address" type="text" v-model="usersCity" @keyup.enter="search" /> Miles to search: <select id="radius" v-model="radius"><option v-for="m in [5,10,15,20]">{{ m }}</option></select>
    Must have food: <input type="checkbox" v-model="searchSettings.mustHaveFood" /> Search terms: <input type="text" id="search_terms" @keyup.enter="search" /> <button v-on:click="search">Search</button></p>
</div>

<template v-if="topTenEvents.length > 0">

<h2>Top ten events with <template v-if="searchSettings.mustHaveFood">food and </template>most registered attendees</h2><div id="topten">
  <table>
    <tr><th># registered</th><th>Spots left</th><th v-if="!searchSettings.mustHaveFood">Food/no food</th><th>Date & time</th><th>City</th><th>Event</th></tr>
<tr v-for="event in topTenEvents"><td>{{ event.yes_rsvp_count }}</td><td><template v-if="event.rsvp_limit">{{ event.rsvp_limit - event.yes_rsvp_count }}</template></td><td v-if="!searchSettings.mustHaveFood">{{ hasFood(event.description) ? 'food' : 'no food' }}</td><td>{{ prettyTime(event.time) }}</td><td><template v-if="event.venue">{{ event.venue.city }}</template></td><td><a target="_blank" v-bind:href="event.event_url" data-toggle="popover" data-placement="bottom" data-trigger="hover" title="Description of event" v-bind:data-content="event.description">{{ event.group.name }}: {{ event.name }}</a></td></tr>
</table></div>
<template v-if="isMobile">
  <template v-for="date in Object.keys(eventsByDay).sort()">
    <h3>{{ date }}</h3>
    <ul>
<li v-for="event in eventsByDay[date]"><event-info v-bind:event="event"></event-info></li>
    </ul>
  </template>
</template>
<template v-else>
<calendar v-bind:search-settings="searchSettings" v-bind:month="currentMonth" v-bind:year-and-month="yearAndMonth" v-bind:day-of-week="dayOfWeek" v-bind:last-day-of-month-day-of-week="lastDayOfMonthDayOfWeek" v-bind:day-of-month="dayOfMonth" v-bind:end-of-month="endOfMonth" v-bind:events-by-day="eventsByDay"></calendar>
<calendar v-bind:search-settings="searchSettings" v-bind:month="nextMonth" v-bind:year-and-month="nextYearAndMonth" v-bind:day-of-week="nextMonthDayOfWeek" v-bind:last-day-of-month-day-of-week="nextMonthLastDayOfMonthDayOfWeek" v-bind:day-of-month="1" v-bind:end-of-month="nextMonthEndOfMonth" v-bind:events-by-day="eventsByDay"></calendar>
</template>
</template>
<template v-else><p style="font-size:1.5em"><i class='fa fa-circle-o-notch fa-spin'></i> Loading search results. Note it takes around a minute to get the results</p></template>
{% endverbatim %}
</div>
</body></html>
